<div id="settings_container">

    <h1>Edit Your Information</h1>

    <div class="row">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= image_tag(@user.avatar_url) if @user.avatar? %>
        <div class="field">
          <%= f.label :remote_avatar_url, "or URL" %>
          <%= f.text_field :remote_avatar_url %>
        </div>
        <div class="field">
          <%= f.file_field :avatar %>
        </div>
        <div class="field">
          <%= f.label :remove_avatar, "remove this avatar checkbox" %>
          <%= f.check_box :remove_avatar %>
        </div>
        <div class="field">
        <%= f.label :name %></br>
        <%= f.text_field :name %>
        </div>
        <div class="field">
        <%= f.label :email %></br>
        <%= f.text_field :email %>
        </div>
        <div class="field">
        <%= f.label :password, "New Password" %></br>
        <%= f.password_field :password %>
        </div>
        <div class="field">
        <%= f.label :password_confirmation, "Confirm Password" %></br>
        <%= f.password_field :password_confirmation %>
        </div>
        <div class="actions">
        <%= f.submit "Save changes", :class => 'submit' %>
        </div>

    <% end %>

    </div>

</div>
