<div class="row">

  <h1>Edit Your Information</h1>
  <hr />
  <%= form_for(@user) do |f| %>
      <%= render 'shared/form_errors', object: @user %>

      <div class="row">
        <div class="medium-6 columns">
          <div class="row">
            <div class="small-4 columns">
            </div>
            <div class="small-8 columns">
              <% if !@user.errors.any? && @user.avatar? %>
                <%= image_tag(@user.avatar_url) %>
              <% else %>
                <p> No Avatar! </p>
                <hr />
              <% end %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="medium-6 columns">
          <div class="row">
            <div class="small-4 columns">
              <%= f.label :avatar, "Upload", class: "right inline" %>
            </div>
            <div class="small-8 columns">
              <%= f.file_field :avatar  %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="medium-6 columns">
          <div class="row">
            <div class="small-4 columns">
            </div>
            <div class="small-8 columns">
              <p> or </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="medium-6 columns">
          <div class="row">
            <div class="small-4 columns">
            </div>
            <div class="small-8 columns">
              <div class="row collapse">
                <div class="small-3 large-2 columns">
                  <span class="prefix">http://</span>
                </div>
                <div class="small-9 large-10 columns">
                  <%= f.text_field :remote_avatar_url,
                                    placeholder: "Enter image URL..." %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <div class="row">
            <div class="small-5 columns">
              <%= f.label :remove_avatar, "Check to Remove Avatar" %>
            </div>
            <div class="small-7 columns">
              <%= f.check_box :remove_avatar %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <div class="row">
            <div class="small-4 columns">
              <%= f.label :name, "User Name", class: "right inline" %></br>
            </div>
            <div class="small-8 columns">
              <%= f.text_field :name %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <div class="row">
            <div class="small-4 columns">
              <%= f.label :email, "Email", class: "right inline" %></br>
            </div>
            <div class="small-8 columns">
              <%= f.text_field :email %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <div class="row">
            <div class="small-4 columns">
              <%= f.label :password, "New Password", class: "right inline" %></br>
            </div>
            <div class="small-8 columns">
              <%= f.text_field :password %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <div class="row">
            <div class="small-4 columns">
              <%= f.label :password_confirmation, "Confirm Password", class: "right inline" %></br>
            </div>
            <div class="small-8 columns">
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <div class="row">
            <div class="small-4 columns">
            </div>
            <div class="small-8 columns">
              <%= f.submit "Save changes", :class => 'button' %>
            </div>
          </div>
        </div>
      </div>

  <% end %>

</div>
