<% provide(:title, 'Sign up') %>

<div class="row">
  
  <h1>Sign up</h1>
  <hr />
  <%= form_for(@user) do |f| %>
    <%= render 'shared/form_errors', object: @user %>
    
    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-4 columns">
            <%= f.label :name, "User Name", class: "right inline" %></br>
          </div>
          <div class="small-8 columns">
            <%= f.text_field :name %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-4 columns">
            <%= f.label :email, "Email", class: "right inline" %></br>
          </div>
          <div class="small-8 columns">
            <%= f.text_field :email %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-4 columns">
            <%= f.label :password, "Password", class: "right inline" %></br>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :password %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-4 columns">
            <%= f.label :password_confirmation, "Confirmation", class: "right inline" %></br>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-4 columns">
          </div>
          <div class="small-8 columns">
            <%= f.submit "Create Account", :class => 'button' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
