<%= form.fields_for :tags do |t| %>
  <div class="row">
    <div class="small-4 columns">
      <%= t.label :name, 'Tag', class: "right inline" %>
    </div>
    <% if t.object.nil? || t.object.new_record? %>
      <div class="small-8 columns">
        <%= t.text_field :name %>
      </div>
    <% else %>
      <div class="small-5 columns">
        <%= t.text_field :name %>
      </div>
      <div class="small-2 columns">
        <%= t.label :_destroy, 'Remove', class: "right inline" %>
      </div>
      <div class="small-1 columns">
        <%= t.check_box :_destroy %>
      </div>
    <% end %>
  </div>
<% end %>
