<div class="row">

  <h1> Resetting Password </h1>
  <hr />
  <%= form_for @user, :url => retrieval_path(params[:id]) do |f| %>

    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-4 columns">
            <%= f.label :password, 
                        "New password",
                        class: "right inline" %></br>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :password %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-4 columns">
            <%= f.label :password_confirmation, 
                        "Confirm password",
                        class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-4 columns">
          </div>
          <div class="small-8 columns">
            <%=  f.submit "Update Password", :class => "button" %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

</div>
