<% @post.tags.build %>

<%= form_for @post do |f| %>
  
  <%= render "shared/form_errors", object: @post %>

  <div class="row">
    <hr />
    <div class="medium-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :title, "Title", class: "right inline" %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :title %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <hr />
    <div class="medium-6 columns">
      <% if !@post.errors.any? && @post.banner? %>
        <%= image_tag(@post.banner_url.to_s) %>
      <% else %>
        <p> No Banner! </p>
        <hr />
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :banner, "Upload", class: "right inline" %>
        </div>
        <div class="small-8 columns">
          <%= f.file_field :banner %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <div class="row">
        <div class="small-4 columns">
        </div>
        <div class="small-8 columns">
          <p> or </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <div class="row">
        <div class="small-4 columns">
        </div>
        <div class="small-8 columns">
          <div class="row collapse">
            <div class="small-3 large-2 columns">
              <span class="prefix">http://</span>
            </div>
            <div class="small-9 large-10 columns">
              <%= f.text_field :remote_banner_url,
                                placeholder: "Enter image URL..." %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :remove_banner, "Check to Remove Banner", class: "right inline" %>
        </div>
        <div class="small-8 columns">
          <%= f.check_box :remove_banner %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <hr />
    <div class="medium-6 columns">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :description, "Synopsis", class: "right inline" %>
        </div>
        <div class="small-8 columns">
          <%= f.text_area :description %>
        </div>
      </div>
    </div>
  </div>

  <!--TODO: use this logic for page adding instead-->
  <!--<a href="#" id="add_step">Add Step</a>-->
  <% if false %>
  <div id="step_list">
    <% if @steps_array %>
      <span hidden><%= @steps_array.length%></span>
      <br/>
      <% @steps_array.each do |s| %>
        <div class="one_step">
          <b><%= @steps_array.index(s)+1 %></b>
          <input class="post_step" 
            name="post[step][<%= @steps_array.index(s)+1 %>]" 
            type="text" value="<%= s %>"/>
          <a href="#" class="remove_step"
            id="<%= @steps_array.index(s)+1 %>">Remove</a>
          <br/>
        </div>
      <% end %>
    <% else %>
      <span hidden>0</span>
    <% end %>
  </div>
  <% end %>

  <div class="row">
    <hr />
    <div class="medium-6 columns">
      <%= render :partial => 'tags/form',
                    :locals => {:form => f} %>
    </div>
  </div>

  <div class="row">
    <hr />
    <div class="medium-6 columns">
      <div class="row">
        <div class="medium-4 columns">
        </div>
        <div class="medium-8 columns">
          <%= f.submit  "Submit", :class => 'button' %>
        </div>
      </div>
    </div>
  </div>

<% end %>

