  <div id="post">
    
    <h2><%= @post.title %></h2>
      <b>by <%= @post.user.name %></b>
      
      <p><%= @post.description %></p>

      <% unless @post.steps.nil? %>
        <p>Steps: <%= @post.steps %> </p>
      <% end %>

      <% if @post.tags.any? %>
        <p>Tags:<%= join_tags(@post) %></p>
      <% end %>

      <br />
      <br />

      <div id="comments_container">

      <% if @comments.any? %>
        <%= render "comments/comment" %>
      <% end %>

        <% if signed_in? %>
          <h3>Leave a Comment:</h3>
            <%= render "comments/form" %>
        <% end %>

      </div>

    <br />

    <% if signed_in? %>
      <%= link_to 'Edit', edit_post_path(@post) %> |
    <% end %>
    <%= link_to 'All Posts', posts_path %>
  
</div>
 

